includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
    level: 8
    ignoreErrors:
        - identifier: generics.lessTypes
        - identifier: return.type
        - identifier: missingType.generics
